<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name = "STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{yyyy'T'HH:mm:ss.sss'Z'}][%C][%t][$L][%-5p] %m%n
            </pattern>
        </encoder>
    </appender>
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <File>
            C:\Users\paul_\Code\Logging\TranscurrencyLogback.log
        </File>
        <encoder>
            <pattern>
                [%d{yyyy'T'HH:mm:ss.sss'Z'}][%C][%t][$L][%-5p] %m%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="File"/>
        <appender-ref ref="STDOUT"/>

    </root>

</configuration>